<!DOCTYPE html>
<html lang="de">
<!-- Include head -->
{% include 'include/head.html.twig' %}

<body>
<!-- Include navigation -->
{% include 'include/navigation.html.twig' %}


<!-- About -->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Hilfebereich</h2>
                <p class="text-white-50">
                    Wir möchten, dass jeder die Möglichkeit hat, {{ name }} zu nutzen.
                    Deshalb bieten wir ein Umfangreiches Hilfecenter an, um bei Fragen und Problemen rund um {{ name }} helfen zu können.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="{{ templateDir }}assets/img/phone.webp" alt="Ein Handy, auf welchem Discord geöffnet ist. Dort wird das Profil von {{ name }} angeschaut"/>
    </div>
</section>

<!-- Advantages -->
<section class="advantages-section text-center" id="advantages">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4">Hilfe</h2>
                <p class="text-white-50">
                    -- TODO: HC --
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Socialmedia -->
<section class="social-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="social d-flex justify-content-center">
                <a class="mx-2" href="/redirect/support"><i class="fa-brands fa-discord"></i></a>
                <a class="mx-2" href="/redirect/twitter"><i class="fa-brands fa-twitter"></i></a>
                <a class="mx-2" href="/redirect/instagram"><i class="fa-brands fa-instagram"></i></a>
                <a class="mx-2" href="/redirect/github"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
{% include 'include/footer.html.twig' %}
</body>
</html>
