

.categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.category {
    padding: 10px 20px;
    background-color: var(--background-color-darker);
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.category.active {
    background-color: var(--navbar-li);
    color: #fff;
}

.commands-container {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 35px;
    box-sizing: content-box;
}

.commands {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-right: -15px;
    box-sizing: content-box;
}

.command {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: var(--background-color-darker);
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.command:hover {
    background-color: var(--background-color-darker-darker);
}

.command-details {
    display: none;
    padding-left: 20px;
    margin-top: 5px;
}

.command.active {
    background-color: var(--background-color-darker);
}

.command.active .command-details {
    display: block;
}