/**
    * All Round Gothic Font
 */
@font-face {
    font-family: "All Round Gothic Bold";
    src:  url("../fonts/AllRoundGothic/AllRoundGothic-Bold.ttf");
}
@font-face {
    font-family: "All Round Gothic Medium";
    src:  url("../fonts/AllRoundGothic/AllRoundGothic-Medium.ttf");
}
@font-face {
    font-family: "All Round Gothic MediumOblique";
    src:  url("../fonts/AllRoundGothic/AllRoundGothic-MediumOblique.ttf");
}