<div id="cookie-banner">
    <div class="cookie-text">
        <h5 class="cookie-title">Wir respektieren Ihre Privatsphäre</h5>
        <p>Wir verwenden Cookies, um Ihr Nutzungserlebnis zu verbessern und Ihnen personalisierte Inhalte anbieten zu können. Durch Klicken auf 'Akzeptieren' stimmen Sie der Verwendung von Cookies gemäß unserer <a href="/privacy">Datenschutzerklärung</a> zu.</p>
    </div>
    <div class="cookie-actions">
        <button id="accept-cookies">Akzeptieren</button>
    </div>
</div>