<!DOCTYPE html>
<html lang="de">

<!-- ======= Include head ======= -->
{% include "templates/head.html.twig" %}
<!-- End head -->

<body class="dark-mode">

    <!-- ======= Include header ======= -->
    {% include "templates/header.html.twig" %}
    <!-- End header -->

    <!-- ======= Include cookie banner ======= -->
    {% include "templates/cookieBanner.html.twig" %}
    <!-- End cookie banner -->

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Seite nicht gefunden</h2>
                    <ol>
                        <li><a href="/">Home</a></li>
                        <li>Fehler</li>
                        <li>404</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End breadcrumbs -->

        <section class="inner-page">
            <div class="container">
                <h2>Fehler 404</h2><br>
                <p>Die von Ihnen angeforderte Seite existiert nicht. Prüfen Sie die von Ihnen aufgerufene URL auf Rechtschreib- oder anderweitige Fehler, und versuchen es erneut.</p>
                <p>Wenn Sie denken dass es sich hierbei um einen Fehler unsererseits handeln könnte, bitten wir Sie, uns zu <a href="/contact-us">kontaktieren</a>.</p>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "templates/footer.html.twig" %}
    <!-- End Footer -->

    <!-- Custom subpage CSS & JS -->
</body>
</html>